body{
  background-color: #7EB2DD;
  font-family:"Roboto Condensed", sans-serif;
}
h1{

  color: #F93943;
  font-weight: bolder;
  font-size: 30px;
}
h2 {
  color: #F93943;
  font-weight: lighter;
  font-size: 25px;
}
a {
  color: blue;
}

p {
  color: #f9dbbd;
}
a:hover {
  text-decoration: none;
  color: white;
}
#banner {
  background-image:url(images/fond.jpeg);
  background-size: cover;
  padding: 150px;
  margin-bottom: 10px;
  text-align: center;
  border: 0px solid #b8d3d1;
  border-radius: 0px;
}
#banner h1{
  font-size: 50px;
   text-shadow: 1px 2px 3px black;
}

#banner p{
  font-size: 20px;
}
.card{
  text-align: center;
  border-radius: 10px;
  margin-bottom:10px;
  padding: 5px;
}

.card p{
  color:#6b717e;
  font-size: 17px;
}
.card i{
	font-size:100px;
}
#footer{
	background-color: black;
	text-align: center;
}

#footer a{
	color: #F93943;
	font-size: 40px;
}

#footer a:hover {
  color: #7EB2DD;
}